<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kalkulator Vue</title>

    <!-- BOOTSTRAP -->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous" />

    <!-- POPPINS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=MuseoModerno:wght@200;300;400;500;600;800;900&family=Poppins:wght@300;400;500;600;700;800;900&family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="./css/style.css" />
  </head>

  <body>
    <div id="app">
      <div class="container">
        <div class="menu mx-auto rounded-3">
          <div class="row d-flex justify-content-center my-5 text-light">
            <div class="submenu col-5 m-3 rounded-2">
              <h3 @click="changeMenu('kalkulator')">kalkulator</h3>
            </div>
            <div class="submenu col-5 m-3 rounded-2">
              <h3 @click="changeMenu('booklist')">book list</h3>
            </div>
          </div>
        </div>

        <div
          class="kalkulator mx-auto text-light mt-5"
          v-if="kondisi === 'kalkulator'">
          <div class="merk mt-3"><h1>Kalkulator</h1></div>
          <div class="display m-5 mb-0 mt-0 text-end p-3">{{result}}</div>
          <div class="m-5 mt-3">
            <div class="row g-0">
              <div class="col-3" v-for="item of arrTombol">
                <div
                  class="lead border border-dark m-2 p-3 rounded-3 tombol text-light"
                  @click="calculate(item)">
                  {{item}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="booklist mx-auto text-light mt-5 pb-4" v-else>
          <div class="merk mt-3"><h1>Booklist</h1></div>
          <div class="row g-0 d-flex justify-content-evenly">
            <div class="col-4">
              <h3 class="bg-primary rounded-3">BOOK</h3>
            </div>
            <div class="col-4">
              <h3 class="bg-primary rounded-3">AUTHOR</h3>
            </div>
          </div>
          <hr class="m-0" />
          <div
            class="row g-0 d-flex justify-content-evenly"
            v-for="items of objBook"
            @click="toggleFav(items)">
            <div
              class="d-flex justify-content-evenly"
              :class="items.fav ? 'isFav' : 'noFav'">
              <div class="col-4">
                <h3>{{items.title}}</h3>
              </div>
              <div class="col-4">
                <h3>{{items.author}}</h3>
              </div>
            </div>

            <hr class="m-0" />
          </div>
        </div>
      </div>
    </div>

    <script type="module" src="./js/script.js"></script>
  </body>
</html>
